<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/charts.css/dist/charts.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/chart-style.css" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="form-container">
        <div class="form-box">
          <form method="POST" action="/get/world" id="stock_form">
            <div class="form-group">
              <label for="monthly_amount" class="form-label">毎月の積立額(半角数字のみ有効)：</label>
              <input
                type="number"
                id="monthly_amount"
                name="monthly_amount"
                class="form-input"
                value="{{.string_monthly_amount}}"
              />万円
            </div>

            <div class="form-group">
              <label for="stock" class="form-label">投資対象：</label>
              <select id="stock" name="stock" class="form-select">
                <option value="sp_500">S&P500(米国)</option>
                <option value="world_stock">全世界株式指数</option>
              </select>
            </div>
            <div class="form-group">
              <label for="currency" class="form-label">通貨：</label>
              <select id="currency" name="currency" class="form-select">
                <option value="dollar">ドル</option>
                <option value="yen">円</option>
              </select>
            </div>
            <div class="form-info">
              <span class="info-text">投資年数：</span>
              <span class="info-number">42年9ヶ月</span>
            </div>
            <div>
              <input type="submit" form="stock_form" value="作成" class="submit-button" />
            </div>
          </form>

          <div class="back-link">
            <a href="/" class="back-button">戻る</a>
          </div>
        </div>
        <div class="chart-container">
          <canvas id="myChart" class="canvas-chart"></canvas>
        </div>
      </div>
    </div>

    <script>
        var labels = [];
        var data = [];
        {{ range $index, $_ := .totalMoney }}
          labels.push("Month " + String({{$index}} + 1));
          data.push({{ . }});
        {{ end }}


      var ctx = document.getElementById('myChart').getContext('2d');
      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: labels,
          datasets: [
            {
              label: 'Investment Growth',
              data: data,
              backgroundColor: 'rgba(255, 99, 132, 0.2)',
              borderColor: 'rgba(255, 99, 132, 1)',
              borderWidth: 1
            }
          ]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
    </script>
  </body>
</html>
